<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
   
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0">Seats</h3>
                   
                </div>
               <div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="col">ID</th>
                                <th class="col">Ubicación</th>
                                <th class="col">Capacidad</th>
                                <th class="col">Opciones</th>
                            </tr>
                        </thead>

                    </table>

                </div>
               </div>
            </div>
        </div>
    </div>
</div>